{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf=8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://kit.fontawesome.com/cc44554ff2.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'landing/style.css' %}">
    <title>WKM Insurance</title>
  </head>
  <body>
    <!-- Navigation bar -->
    <nav>
      <ul>
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'services' %}">Services</a></li>
        <li><a href="{% url 'about' %}">About Us</a></li>
        <li><a href="{% url 'contact' %}">Contact Us</a></li>
        <li><a href="#">Blog</a></li>
      </ul>
    </nav> 
    
    <!-- Content section -->
    <div class="px-6 py-6">
      {% block content %}
      {% endblock %}
    </div>
    
    <!--footer section-->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h2>Contact Info</h2>
            <ul class="list-unstyled">
              <li><i class="fas fa-phone-alt"></i> Agency Number: +1-888-123-4567</li>
              <li><i class="fas fa-envelope"></i> Agency Email: wkarithi@gmail.com</li>
              <li><i class="fab fa-facebook"></i> Facebook: <a href="#">WKM Insurance</a></li>
              <li><i class="fab fa-twitter"></i> Twitter: <a href="#">@wkminsurance</a></li>
              <li><i class="fab fa-instagram"></i> Instagram: <a href="#">@wkminsurance</a></li>
              <li><p class="text-muted small">&copy; 2023 WKM Insurance Company. All rights reserved.</p></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
    
  </body>
</html>
